# =========================
# Python
# =========================
.venv/
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
*.iml

# Environment
.env

# Pytest / Playwright artifacts
.pytest_cache/
test-results/
reports/
playwright-report/
screenshots/
videos/
traces/
state.json

# OS
.DS_Store